<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  
  <div class="form-group">
    <%= f.label :category_id, 'カテゴリー' %>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <p>タグ</p>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <% if book.id === nil %>
    <div class="form-group" id="star">
      <%= f.label :rate %>
      <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
    </div>

    <script>
    //初回読み込み、リロード、ページ切り替えで動く。20行目 ページ切り替え時（初回ページも対象）//ページ切り替え後にさせたい処理を中に書く　手法でjQueryが動く．
    $(document).on('turbolinks:load', function() {
      $('#star').empty();　//これがないとブラウザバックで星が増え続ける不具合が発生します。ページを表示する度に星5つを読み込むことになる
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        //half: false, 今回は５段階評価で星️半分評価は入力できないように設定
        scoreName: 'book[rate]', //これがbookモデルのrateカラムへ値を保存という意味
        half: true,
      });
    })
    </script>
  <% else %>
    <%= render "static_rate", book: book %>
  <% end %>


  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>

