<div class="container">
<h5>タグが<%= @tag.name %>の投稿一覧</h5>

<!--タグリスト-->
<% @tag_list.each do |list|%>
  <%= link_to list.name, search_tag_path(tag_id: list.id) %>
  <%= "(#{list.books.count})" %>
<% end %>

<% @books.each do |book| %>
<!--投稿はカードで囲む-->
<div class="card">
  <div class="card-body">
    <!--タイトル表示される文字数は２５文字までにしてます-->
    <h6 class="card-title">
      <%=link_to book_path(book.id) do %><%= book.title %>
      <% end %>
    </h6>
    <div id="<%= book.id %>"></div>
  </div>
</div>
<% end %>

</div>


<style>
.card{
  padding:0;
  margin:0;
  border:none;
}



h6 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}
</style>



